body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
  direction: rtl;
}

.container {
  background: white;
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}